.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* no muestra los Icon */
.SidebarOption > .MuiSvgIcon-root {
  padding: 20px;
}
.sidebarOption > h2 {
  font-weight: 900;
  font-size: 20px;
  margin-right: 30px;
  padding: 20px;
}
.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}
.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarOption--active {
  color: var(--twitter-color);
}
