.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
  margin: 55px;
}
.feed::-webkit-scrollbar {
  display: none;
}
.feed {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.feed__header {
  color: #d6d9db;
  position: sticky;
  top: 0;
  background-color: #000000;
  z-index: 100;
  /* border: 1px solid var(--twitter-background); */
  padding: 15px 20px;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
}
